/*FOntS*/

@import url('https://fonts.googleapis.com/css?family=Raleway');

h1, h2, h3, h4, h5, h6, p {
  font-family: 'raleway';
  color: white;
}

body {
  background-color: #202020;
}

a {
  color: white;
}

/*CoLORs!!!!!*/
:root {
  --pri: #ff00ff;
  --sec: #00ffff;
}

.logo-text {
  color: var(--pri);
}

.grayout {
  color: #5A5B5D;
}

/*IcOn*/
.icon_p {
  color: var(--pri);
  font-size: 1.8em;
}

.icon_s {
  color: var(--sec)
}

/*Custom position*/
.floattop {
  padding: 10px;
  text-decoration: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}

.hl {
  border-left: solid 8px var(--pri);
  padding-left: 20px;
}

/*ToOLTiP*/
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: #5A5B5D;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 20px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
    font-size: 0.4em;
    font-weight: 430;
    top: 60px;
    left: 80px;
    bottom: -180px;
    height: 50px;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 10%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #5A5B5D transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
